.DS_Store
.Trash
Thumbs.db
desktop.ini
.venv
*.py
*.csv
*main
*py

*.o
*.obj
*.lo
*.la
*.al
*.a
*.lib
*.so
*.so.*
*.dll
*.dylib

*.exe
*.out
*.app
*.bin
*.elf

*~
*.swp
*.swo
*.bak
*.tmp

*.d
*.gcno
*.gcda
*.gcov

*.log

.cache/
*.user
*.tlog/
*.vs/
.vscode/
.idea/
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
compile_commands.json
*.mk

*.sublime-*
*.code-workspace

**/materials/

*.depend
*.dep

test-results/
*.coverage
*.profraw
*.profdata

*.clang-format
*.clang-tidy
*.asan.*
*.lsan.*
*.ubsan.*

